<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSHCOO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "frontend/css/cascade.css" %}">
</head>
<body>
    {% for foo in weekly_scom %}
        {{ foo }}
    {% endfor %}

</body>
{% load static %}
<script src="{% static "frontend/js/jquery.js" %}"></script>
<script src="{% static "frontend/js/json2html.js" %}"></script>
<script src="{% static "frontend/js/jquery.json2html.js" %}"></script>
<script>
    var weekly_json ={{weekly_data}}
    console.log(weekly_json)
</script>
</html>