<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSHCOO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "frontend/css/cascade.css" %}">
</head>
<div id="app_wrapper" style="width: 1024px;margin: 0 auto">
    <div class="nav">

    </div>
    <div class="notes">
        {% for note in notes %}
            {{ note }}
        {% endfor %}
    </div>
    <table class="datasheet">
        <thead>
        <tr>
            <th rowspan="2">STN</th>
            <th rowspan="2">SCOM</th>
            {% for date in weekly_days %}
                <th colspan="3">{{ date|date:"d M" }} <br/> {{ date|date:"D" }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in weekly_days %}
                <th>A</th>
                <th>B</th>
                <th>C</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% regroup weekly_data by stn as stn_list %}
        {% for stn in stn_list %}
            <tr>
                <td class="stn">{{ stn.grouper }}</td>
                <td class="scom"></td>
                {% for data in  stn.list %}
                    <td>{{ data.value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="history_picker">
        <div class="input-group">
            <label for="date_picker">Search history record:</label>
            <input type="text" id="date_picker">
        </div>
        <button id="jumpToHistory">Search</button>
    </div>
</div>
</body>
{% load static %}
<script src="{% static "frontend/js/jquery.js" %}"></script>
<script src="{% static "frontend/js/jquery-ui.min.js" %}"></script>
<script>
    $(document).ready(function () {
        //init table and weekly date
        {% load csh_extras %}
        var weekly_scom = {{ weekly_scom|js}}
            parseSCOM(weekly_scom);
        //date picker
        $("#date_picker").datepicker({
            dateFormat: "yy/mm/dd"
        }).on("change",function () {
            jumpHistory($('#date_picker').val())
        });
    });

    function parseSCOM(scoms) {
        var scoms_json = JSON.parse(scoms),
            scom_td = $('.scom');
        var stns = [];
        $.each($('.stn'), function (index, el) {
            stns.push(el.innerText);
        });

        $.each(scoms_json, function (index, val) {
            var scom_val = val['fields'].value,
                scom_stn = val['fields'].stn;
            var in_scom = $.inArray(scom_stn, stns);
            scom_td[in_scom].innerText = scom_val;
        })
    }

    function jumpHistory(date) {
        window.location.href =  "/" + date;
    }
</script>
</html>